body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin:	0;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: #45a29e;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

/* Header */
header{
	background: #1f2833;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #45a29e 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: #45a29e;
	font-weight: bold;
}

header a:hover{
	color: #c5c6c7;
	font-weight: bold;
}

/* Showcase */
#showcase{
	min-height: 350px;
	background: url('../img/background.jpeg') no-repeat 0 -100px;
	background-size: 1600px 750px;
	text-align: center;
	color: #ffffff;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

/* Recommendation */
#recommendation{
	padding: 15px;
	color: #ffffff;
	background: #1f2833;
}

#recommendation form{
	text-align: center;
	margin: 15px;
}

#recommendation input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* Playstation */
aside#console-image{
	float: left;
	width: 30%;
	margin-top: 20px;
	margin-left: 30px;
}

aside#console-image img{
	width: 300px;
	align-content: center;
	vertical-align: sub;
}

article#console-desc{
	float: right;
	width: 60%;
	margin-top: 70px;
}

/* Collection */
article#gameslist{
	text-align: center;
	margin-top: 20px;
}

article#gameslist img{
	width: 500px;
	margin: 30px;
}

/* Request */
article#request{
	padding: 15px;
	text-align: center;
}

article#request input{
	padding: 5px;
	margin: 5px;
	width: 200px;
}

article#request textarea{
	padding: 5px;
	margin: 5px;
	height: 100px;
	width: 250px;
}

/* Footer */

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #45a29e;
	text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
	header #branding, 
	header nav, 
	header nav li,
	#recommendation form, 
	aside#console-image,
	article#console-desc,
	article#request form{
		float: none;
		text-align: center;
		width: 100%;
	}
	article#gameslist img{
		float: none;
		text-align: center;
		width: 80%;
	}

	header{
		padding-bottom: 20px;
	}

	#recommendation h1{
		margin-top: 40px;
	}

	#recommendation button, .request-form button{
		display: block;
		width: 100%
	}

	#recommendation form input[type="text"], .request-form input, .request-form textarea{
		width: 100%;
		margin-bottom: 5px;
	}
}